@import "tailwindcss";

/* RESET COMPLETO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove qualquer espaço em elementos comuns */
div, main, section, article {
  margin: 0;
  padding: 0;
}